.DS_Store

**/config.symlink/iterm2
**/config.symlink/go
**/config.symlink/Webull Desktop
**/config.symlink/gh
**/config.symlink/raycast
**/config.symlink/karabiner

**/nvim/lazy-lock.json
**/nvim/lazyvim.json
