[Unit]
Description=Rclone Google Drive Mount
AssertPathIsDirectory=%h/documents/gdrive
After=network-online.target

[Service]
Type=notify
Environment=RCLONE_CONFIG=%h/.config/rclone/rclone.conf
ExecStart=/usr/bin/rclone mount \
    gdrive: \
    %h/documents/gdrive \
    --config=%h/.config/rclone/rclone.conf \
    --allow-other \
    --vfs-cache-mode full \
    --poll-interval 15s \
    --dir-cache-time 72h
ExecStop=/bin/fusermount -uz %h/documents/gdrive
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
