[user]
    name = Quan Do
    email = minhquand3@gmail.com
[core]
    ignorecase = false
    editor = nvim
[commit]
    gpgsign = true

[include]
    path = ~/.gitconfig.local
    path = ~/.gitconfig.windows
