* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 17px;
  padding: 0;
  margin: 0;
}

#waybar {
  color: #eeeeee;
  background-color: rgba(0, 0, 0, 0.6);
}

#workspaces,
#memory,
#temperature {
  padding: 0 0.5em;
}

#memory:hover,
#temperature:hover {
  background-color: rgba(100, 100, 100, 0.6);
}

#workspaces button {
  color: #eeeeee;
  padding-left: 0.2em;
  padding-right: 0.5em;
}

#workspaces button:hover {
  background-color: rgba(100, 100, 100, 0.6);
}

#clock:hover {
  background-color: rgba(100, 100, 100, 0.6);
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray {
  padding: 0 0.5em
}

#wireplumber:hover,
#battery:hover,
#idle_inhibitor:hover,
#language:hover,
#network:hover,
#bluetooth:hover {
  background-color: rgba(100, 100, 100, 0.6);
}

#tray>*:hover {
  background-color: rgba(100, 100, 100, 0.6);
}
