[user]
    name = Quan Do
    email = minhquand3@gmail.com
[core]
    ignorecase = false
    editor = nvim
[commit]
    gpgsign = true
[gpg]
    format = ssh

[include]
    path = ~/.gitconfig.local
    path = ~/.gitconfig.windows
[tag]
    gpgsign = true
