[user]
    name = Quan Do
    email = minhquand3@gmail.com
    signingkey = ~/.ssh/id_ed25519.pub
[core]
    ignorecase = false
    editor = nvim
[commit]
    gpgsign = true
[gpg]
    format = ssh

[tag]
    gpgsign = true
[include]
    path = ~/.gitconfig.windows
    path = ~/.gitconfig.local
